<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Size en yakın ATM'leri gösterebilmek için konumunuza ihtiyacımız var.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Size en yakın ATM'leri gösterebilmek için konumunuza ihtiyacımız var.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Size en yakın ATM'leri gösterebilmek için konumunuza ihtiyacımız var.</string>
</dict>
</plist> 